<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="app/assets/stylesheets/meetings.scss">
</head>

<body>
    <div class="meetings">
        <h3 class="title">Meetings2</h3>
        <%= form_tag meetings_path, enctype: 'multipart/form-data' do %>
            <%= file_field_tag :file, required: true, multiple: false, accept:'.pdf,.pptx,.ppt'  %>
            <%= submit_tag 'Upload Meeting File' %>
        <% end %>

        <% @meetings.each do |meeting| %>
            <div>
                <%= link_to meeting.date, meeting.url %>
            </div>
        <% end %>

        <ul>
            <li class="meetingsitem">
                <!-- <img src="img/avatar.jpeg" class="avatar"> -->
                <div class="item">
                    <div class="time">6/1/2018</div>
                    <a href="https://www.google.com/">
                        <div class="info">meeting_1</div>
                    </a>
                </div>
            </li>
            <li class="meetingsitem">
                <!-- <img src="img/avatar.jpeg" class="avatar"> -->
                <div class="item">
                    <div class="time">7/1/2018</div>
                    <a href="https://www.google.com/">
                        <div class="info">meeting_2</div>
                    </a>
                </div>
            </li>
            <li class="meetingsitem">
                <!-- <img src="img/avatar.jpeg" class="avatar"> -->
                <div class="item">
                    <div class="time">8/1/2018</div>
                    <a href="https://www.google.com/">
                        <div class="info">meeting_3</div>
                    </a>
                </div>
            </li>
            <li class="meetingsitem">
                <!-- <img src="img/avatar.jpeg" class="avatar"> -->
                <div class="item">
                    <div class="time">9/1/2018</div>
                    <a href="https://www.google.com/">
                        <div class="info">meeting_4</div>
                    </a>
                </div>
            </li>
            <li class="meetingsitem">
                <!-- <img src="img/avatar.jpeg" class="avatar"> -->
                <div class="item">
                    <div class="time">10/1/2018</div>
                    <a href="https://www.google.com/">
                        <div class="info">meeting_5</div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
