<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="app/assets/stylesheets/points.scss">
</head>

<body>
    <div class="container center">
        <div class="top">
        <div class="points">
            <h3>Points</h3>
            <div class="Ragdoll">
                Name
            </div>
        </div>
        <div class="mid center">
            <table class="mid-table">
                <tr>
                    <th>Event</th>
                    <th>Point</th>
                </tr>
                <% @points.each do |point| %>
                <tr>
                    <td>
                        <%= point.event_name %>
                    </td>
                    <td>
                        <%= point.point %>
                    </td>
                    <td>
                        <%= link_to 'Delete', points_url(:id => point.id, :email => point.email), method: :delete %>
                    </td>
                </tr>
                <% end %>
            
            </table>
        </div>
        <div class="bottom">
            <a href="https://www.csisd.org/apps/pages/index.jsp?uREC_ID=161705&type=d&pREC_ID=335513">Volunteer Application</a>
        </div>
    </div>
    <% if current_admin %>
        <%= link_to 'Add new point', new_points_url(:email => @member_email) %>
    <% end %>
</body>

</html>