<div style="background-color: black;">
    <center><h1><font color="C12727">EXIT NOW OR YOU WILL GET A VIRUS IN...</font></h1><br>
    <img src="https://thumbs.gfycat.com/RegalCourteousKoodoo-max-1mb.gif" alt="cat hacker" height="300" width="600"></center>
</div>

<br>