<!-----Remember to move this hash into controller.--->
<%@events["items"].each do |event|%>
	<tr>
		<td>"Title of event" <%=event["summary"]%></td><br>
		<%=link_to "Check out event", show_event_path(:event => event)%><br>
	</tr>
<%end%>
<iframe src="https://calendar.google.com/calendar/embed?src=tamu.edu_lkjcimlfp2qgv12vqhhoqdnk28%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
