<html lang="en">
<<<<<<< HEAD:app/views/members/login.html.erb

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="google-signin-scope" content="profile email">
  <link rel="stylesheet" href="app/assets/stylesheets/login.css">
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <div class="main">
      <div class="top">
          <h1>WELCOME TO <br /><span class="bigger">NSCS</span> OFFICIAL WEBSITE</h1>
      </div>
        <p class="tips">We are in the login page, but no functionality yet!</p>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>
  </div>

  
</body>
　
=======
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <h1>WELCOME TO NSCS OFFICIAL WEBSITE</h1>
    <p>We are in the login page</p>
  </body>
>>>>>>> 392e3b8b4aa448c2ecb8eb360bebcd58c3200e2e:app/views/user/login.html.erb
</html>