<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="google-signin-scope" content="profile email">
  <link rel="stylesheet" href="app/assets/stylesheets/login.scss">
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
  <div class="login-container">
    <div class="background-image"></div>
    <div class="content">
      <div class="main">
        <div class="top">
            <h1>WELCOME TO <br /><span class="bigger">NSCS <br /></span> OFFICIAL WEBSITE</h1>
        </div>

      </div>
    </div>
  </div>
</body>
　
</html>
