.officers-text .btn {
  background-color: #600909;
  color: white;
}


.officers-text .profile{
	margin: 25px;
}

.officers-text .profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 10px 0;
}

.officers-text .profile h2{
	font-size: 16px;
	font-weight: lighter;
	margin-top: 5px;
}

.officers-text .profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}

.officers-text p {
  font-size: 130%;
}

.officers-text .form-control {
  height:50px;
  font-size:14pt;
}
