.officers-text .btn {
  background-color: #600909;
  color: white;
}

.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}

.profile{
	margin: 25px;
}

.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 10px 0;
}

.profile h2{
	font-size: 16px;
	font-weight: lighter;
	margin-top: 5px;
}

.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;

	//please edit to make image style how you like
	//was just testing if image could be tamed
	width: 200px;
	height: 200px;
	overflow: auto;
	border-radius: 50%;
}

.officers-text p {
  font-size: 130%;
}

.officers-text .form-control {
  height:50px;
  font-size:14pt;
}
