<html>
  <head>
    <title>TAMU NSCS Home</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag :application, :home, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>About Us</h1>
          <h3>Who are we?</h3>
          <p>
            The National Society of Collegiate Scholars is a honor organization
            that recognizes and elevates high-achieving college students.
            NSCS provides career and graduate school connections, leadership and
            service opportunities and gives out more than $1 million each year in
            scholarships, awards and chapter funds. Our members are committed to
            scholarship, leadership and service, and therefore, they are impacting
            our campus and local community every day. NSCS was founded in 1994 on
            the campus of The George Washington University in Washington, D.C.
            NSCS is a member of the Association of College Honor Societies and
            is a recognized organization at over 330 campuses across the country,
            including Texas A&M
          </p>
          <h3>As a Member</h3>
          <p>
            As a member of the Texas A&M chapter of NSCS, you will be part of a
            prestigious community of high-achieving students who exemplify scholarship,
            leadership and commitment. NSCS members are leaders on their campus
            in many, many ways. Taking the lead on academic integrity is a core
            pillar of NSCS. Each year during the second week of February, members
            nationwide host Integrity Week. Being one of Texas A&M’s core values,
            NSCS will also be hosting an additional Integrity week in the Fall.
            Access to NSCS exclusive awards and programs are available to members,
            such as Semester at Sea, International Scholar Laureate Program,
            Absolute Internship, Make School, Future Docs Abroad and Hult
            International Business School. NSCS members give back to their
            community in various ways. In 2017, NSCS adopted Feeding America to
            support our scholars across the U.S. and Puerto Rico impacted by the
            devastation of natural disasters. Recognizing the importance of mental
            health among college students, NSCS has partnered with Active Minds
            as its national philanthropy to help educate and break the stigma of
            stress, anxiety, depression, etc. NSCS chapters partner across the
            nation each year with local schools for the Planning to Achieve Collegiate
            Excellence Program (PACE). At Texas A&M, we also assist with Magnified
            Nursing Home, where students can establish lasting relationships with
            the community.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>

