<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="app/assets/stylesheets/faq.scss">
<!------ Include the above in your HEAD tag ---------->

<body class="background-effect">
  <div>
    <h1>FAQ</h1>
  </div>

  <div class="panel-group" id="accordion1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            How does the point system work?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          Every event is worth 3 points! For most of our events you will also be
          able to receive additional points by bringing a friend (1pt) and/or
          wearing your NSCS t-shirt (1pt). Occasionally there will be opportunities
          to receive even more points, but these opportunities are time sensitive.
          You will always hear of these opportunities at our monthly meetings and
          once again in my emails. An example of this would be the animal shelter
          donation we often host, where each item donated is worth one point.
          Ultimately your goal is to reach 150 points by graduation to receive
          your NSCS graduation cords. Ideally, we recommend every member shoot for
          at least 25 points per semester to reach this goal by the end of their
          senior year. We are not implying that you are required to meet this standard;
          it is simply a recommendation. That being said, you can receive these
          chords even if you do not reach 150 points by graduation, paying for
          them out of pocket through the official NSCS website. We understand
          that 150 points may sound like an excessive amount, but we do our best
          to provide our members with as many fun and easy opportunities to receive
          these points throughout the semester.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            When and where are the meetings?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          Our general meetings are held once a month for all members (both new
          and current members). Information regarding these meetings can be found
          on Facebook, Maroonlink, or my monthly emails. You will receive 3 points
          for attending! We encourage members to bring a friend to meetings and
          events we host. Doing so will often award you one point. We will also
          been selling NSCS t-shirts for $15.00 at every meeting. You are not
          required to purchase one, but wearing them to our events awards you one
          point. At the beginning of every meeting we provide information on the
          organizations upcoming events and any updates we have made to NSCS. We
          also host guest speakers at every meeting. Our guest speakers provide
          us with important information regarding academic opportunities and
          resources available at Texas A&M. There will also always be food and
          drinks served at our general meetings! A few days after the meeting,
          we will send out an email which recaps the information covered at each
          meeting. These emails are a great way to stay updated on the events we
          host every month. If you intend to be an active member in this honor
          society, we would recommend that you keep an eye out for these emails!
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            How can I stay in touch with NSCS?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          You can always find out more information on our Facebook page. We do
          our best to keep everything updated and posted on our events page. We
          are also located on Maroonlink, but please note that the only events
          that will ever be posted on this webpage are general meetings! If you
          ever have any questions or concerns with the information posted on either
          of these websites, please do not hesitate to contact an officer. Or if you
          ever have any suggestions or ideas regrading NSCS, don't be shy, we would
          love to hear from you!
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            NSCS is a large organization, so how will I get to know anyone?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          Our chapter of NSCS recently implemented small groups into our organization.
          We use these small groups to make lasting connections with other students!
          We have GroupMe's and use these to communicate with each other! If you
          are a current member, please send your phone number and name to
          tamunscsmedia@gmail.com and you will be added to a small group!
          This will be a great way to get involved and an easy way to contact an
          officer if you have any questions or concerns!
        </div>
      </div>
    </div>
  </div>
</bodys>
