<html lang="en">
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <h1>WELCOME TO NSCS OFFICIAL WEBSITE</h1>
    <p>We are in the login page</p>
  </body>
  <%if @calendar %>
	  <li>calendar <%=@calendar %></li>
  <%end%>
  <iframe src="https://calendar.google.com/calendar/embed?src=tamu.edu_lkjcimlfp2qgv12vqhhoqdnk28%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</html>
