<html lang="en">
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <h1>WELCOME TO NSCS OFFICIAL WEBSITE</h1>
    <p>We are in the login page</p>
    
    <strong>Everything below this text will be moved to homepage later (I'm just testing it here)</strong>
    <table style="border: 2px solid red; margin-top:20px;">
      <tr>
        <th style="text-align:left;">News!</th>
      </tr>
      <% @newsfeeds.each do |news| %>
        <tr>
          <td style="border: 2px solid red;"> <%= news.event %> </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
